.banner_full.container-fluid.p-0
	.d-block
		.owl-carousel.owl-theme
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x450&text=1", "data-src-retina" => "https://via.placeholder.com/350x250&text=1-retina"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x650&text=2", "data-src-retina" => "https://via.placeholder.com/350x250&text=2-retina"}/
			%picture
				%source.owl-lazy{"data-srcset" => "https://via.placeholder.com/350x250&text=3-large", :media => "(min-width: 650px)"}
					%source.owl-lazy{"data-srcset" => "https://via.placeholder.com/350x250&text=3-medium", :media => "(min-width: 350px)"}
						%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x250&text=3-fallback"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x250&text=4"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x250&text=5"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x250&text=6"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x250&text=7"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x250&text=8"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x400&text=9"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x400&text=10"}/
			%img.owl-lazy{:alt => "", "data-src" => "https://via.placeholder.com/350x450&text=11"}/

:javascript

	$(document).on('turbolinks:load', function() {
		var owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 1,
			dots: true,
			loop: true,
			nav: false,
			autoplay:true,
			lazyLoad:true,
			touchDrag: false,
			autoplayHoverPause:true,
			autoplayTimeout: 3000,
			smartSpeed: 1000
		});

		$('.next-btn').click(function() {
				owl.trigger('next.owl.carousel');
		})

		$('.prev-btn').click(function() {
				owl.trigger('prev.owl.carousel');
		})
	})
