.banner_full.container-fluid.p-0
	.d-block
		- if device.eql?("desktop")
			.nav-banner-cursor
				%i.fa.fa-chevron-left.fa-2xl.prev-btn
				%i.fa.fa-chevron-right.fa-2xl.next-btn
		.owl-carousel
			- component.attachments.each do |attachment|
				%div
					.textoverlay
						.row.align-items-center
							.col-12
								.text
									%h2.d-block.title.text-center=attachment.title.to_s.html_safe
									%p=attachment.note.to_s.html_safe
								.image
									- if (url = attachment.asset&.url).present?
										=image_tag(attachment.asset.url )

:javascript

	$(document).on('turbolinks:load', function() {
		var owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 1,
			dots: true,
			loop: true,
			nav: false,
			autoplay:true,
			touchDrag: false,
			autoplayHoverPause:true,
			autoplayTimeout: 3000,
			smartSpeed: 1000
		});

		$('.next-btn').click(function() {
				owl.trigger('next.owl.carousel');
		})

		$('.prev-btn').click(function() {
				owl.trigger('prev.owl.carousel');
		})
	})
