.container
	.row.my-4.py-4
		.col-lg-7.col-12
			.row
				- @products.each do |product|
					.col-lg-4.col-6.mb-4
						=link_to product_path(product) do
							.card
								.product-slick
									- product.attachments.each do |attachment|
										.mx-3.my-4
											=image_tag(attachment.asset.thumb.url, class: "img-center img-fluid")
								.card-body.text-center
									%h5= product.name.to_s.truncate(15)
									%hr
									%p.text-center= product.short_description
									-# %b= number_to_currency(product.price, unit: "Rp. ", separator: ",", delimiter: ".")
		.col-lg-5.col-12
			= component.description.to_s.html_safe

:javascript

	$('.product-slick').not('.slick-initialized').slick({
		autoplay:true,
		dots: true,
		infinite: true
	});