$red: #FD1015;
$blue: #167FFB;
$yellow: #fed012;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$red-soft: #F50057;
$black-soft: #2c2c2c;

$primary-purple: #5061CE;
.bg-yellow {
  background-color: $yellow !important;
  font-weight: 800;
}

.bg-dark-soft {
  background-color: $black-soft !important;
}