.row.mx-2
	- component_yml[:active_fields].each do |obj|
		- if obj.eql?("body")
			.col-12
				- comp.input obj, as: :text, :input_html => { :class => "form-control w-100", rows: 5 }
		- elsif obj.eql?("subtitle")
			.col-12
				- comp.input obj, :input_html => { :class => "form-control w-100"}
		- else
			.col-6
				- comp.input obj, :input_html => { :class => "form-control w-100" }