.row.mx-2
	- component_yml[:properties].each do |obj|
		- if comp.object.respond_to? obj
			.col-lg-6.col-12
				- case obj
				- when "autoplay", "show_nav", "show_dots", "use_slideReveal", "is_images_from_online", "use_border_image", "show_arrows", "autoplay", "show_up_image"
					- comp.input obj, as: :select, collection: ["true","false"], :input_html => { :class => "form-control w-100" }
				- when "position_image"
					- comp.input obj, as: :select, collection: ["left","right"], :input_html => { :class => "form-control w-100" }
				- when "position_image_slider"
					- comp.input obj, as: :select, collection: ["left","center","right"], :input_html => { :class => "form-control w-100" }
				- when "link_images_online"
					- comp.input obj, as: :text, :input_html => { :class => "form-control w-100" }
				- else
					- comp.input obj, :input_html => { :class => "form-control w-100" }