.container 
	.section-wrapper
		%h1
			=component.title.to_s.html_safe
		%small=component.subtitle.to_s.html_safe
		%p
			=component.body.to_s.html_safe

		- if component&.link.present?
			=link_to component&.url_text || "/", class: "btn bg-light" do
				.fw-bold.text-secondary="READ MORE"