
-# https://www.jqueryscript.net/animation/Smooth-Wave-Liquid-Animation-jQuery-GSAP-SVG.html
:css
	body { background-color:#fafafa;}

	.wave {
		position: absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index: 1;
	}

	.wave + .wave {
		z-index: 2;
	}
.container-wave{style: "position: relative; padding: 10px; width: auto; height:100vh;"}
	%svg.wave{:height => "100%", :version => "1.1", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
		%title Wave
		%defs
		%path{:d => "", id: "feel-the-wave-footer"}
	%svg.wave{:height => "100%", :version => "1.1", :width => "100%", :xmlns => "http://www.w3.org/2000/svg"}
		%title Wave
		%defs
		%path{:d => "", id: "feel-the-wave-two-footer"}
	.content.position-absolute{style: "z-index:9; bottom: 0; top: 50%;"}
		.row.text-center.text-white.w-100
			.col-lg-4.col-12.mb-4
				%h2.fw-bold=@setting.name
				=@setting.description.to_s.html_safe
			.col-lg-4.col-12.mb-4
				%h2.fw-bold="Kontak"
				.col
					%i.fa.fa-envelope.fa-lg
					%span=@setting.email
				.col
					%i.fa.fa-phone.fa-lg
					%span=@setting.phone_1
				.col
					%i.fa.fa-phone.fa-lg
					%span=@setting.phone_2
			.col-lg-4.col-12.mb-4
				%h2.fw-bold="Lokasi"
				%span=@setting.location
				-# %iframe{ :src => "#{@setting.youtube_url}", :class => "w-100"}

			%hr
			.col-lg-12.text-center
				%small.text-gray="created by "
				.text-primary.d-inline
					=link_to "http://axeonsoft.com", class: "text-primary", rel: "noopener", target: "_blank", title: "Pembuat situs website cms" do
						="Axeonsoft."

:javascript
	loadjs([
		"/assets/frontend/lib/wave_liquid_animation/TweenMax.min.js",
		"/assets/frontend/lib/wave_liquid_animation/wavify.js",
		"/assets/frontend/lib/wave_liquid_animation/jquery.wavify.js",
		], 'wave-liquid-animation');
	loadjs.ready('wave-liquid-animation', function() {
		$("#feel-the-wave-footer").wavify({
			height: 80,
			bones: 4,
			amplitude: 60,
			color: 'rgba(150, 222, 255, .8)',
			speed: .15
		});

		$("#feel-the-wave-two-footer").wavify({
			height: 70,
			bones: 3,
			amplitude: 40,
			color: 'rgba(87, 193, 242, .8)',
			speed: .25
		});
	})