.modal-image-upload.mx-2
	/ Button trigger modal
	%button.btn.btn-primary.w-100{"data-target" => "#exampleModal-#{f.object.id}", "data-toggle" => "modal", :type => "button"}
		EDIT
	/ Modal
	.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1", id: "exampleModal-#{f.object.id}"}
		.modal-dialog.modal-xl{:role => "document"}
			.modal-content
				.modal-header
					%h5#exampleModalLabel.modal-title Image Title
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} ×
				.modal-body
					.d-flex.justify-content-end
						.form-check.form-switch.text-right
							- f.input :active, label: false, input_html: {class: "form-check-input", disabled: false, "aria-label"=>"..."}
					.row 
						.col-lg-4.col-12.modal-image-upload
							- f.input :asset, :as => :file, label: false, :hint => f.template.image_tag(f.object.url_image&.strip.presence || f.object.asset_url, class: "w-100"), "data-placement"=>"top"
						.col-lg-8.col-12
							.row
								.col-4
									- f.input :layout_type, as: :select, collection: Image::LAYOUT_TYPE, input_html: {class: "form-control w-100"}
								.col-4
									- f.input :class_image, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :style_image, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :title, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :subtitle, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :url, input_html: { class: "form-control w-100" }
							.row
								.col-4
									- f.input :alt, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :image_quality, as: :select, label: "image_quality (not url image)", collection: ["low_thumb", "thumb", "perview", "low_banner", "banner"], input_html: {class: "form-control w-100"}
								.col-4
									- f.input :background_image_size, as: :select, collection: ["auto", "contain", "cover"], input_html: {class: "form-control w-100"}
							.row
								.col-4
									- f.input :background_image_position, as: :select, collection: ["top", "right", "bottom", "left"], input_html: {class: "form-control w-100"}
								.col-4
									- f.input :background_image_color, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :price, label:"price?", input_html: { class: "form-control w-100" }
								.col-4
									- f.input :series, label: "series?", input_html: { class: "form-control w-100" }
								.col-4
									- f.input :url_image, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :url_image_thumb, label: "url_image_thumb?", input_html: { class: "form-control w-100" }
								.col-4
									- f.input :width, input_html: { class: "form-control w-100" }
								.col-4
									- f.input :height, input_html: { class: "form-control w-100" }
							- f.input :note, input_html: { class: "form-control", rows: 5 }
				.modal-footer
					-# %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
					-# %button.btn.btn-primary{:type => "button"} Save changes
					= f.actions