.container
	.section-wrapper
		- if component.page.layout.eql?("products")
			%p
				=component.description.to_s.html_safe
		- else
			.row 
				.col-lg-6.col-12
					%h1
						=component.title.to_s.html_safe
					%p
						=component.body.to_s.html_safe
					=link_to component&.url_text || "/", class: "btn btn-primary text-white" do
						READ MORE
				.col-lg-6.col-12
					- if (images = component.images).present?
						- image_quality = device.eql?("desktop") ? 'perview' : 'thumb'
						- images.each do |image|
							= manipulate_image_tag(image, options: {image_quality: image_quality}, html: {class: "img-fluid text-center"})

					:javascript

						loadjs(["/assets/frontend/lib/slick.min.js", "/assets/frontend/lib/slick.css", "/assets/frontend/lib/slick-theme.css"], 'text_image_base');
						loadjs.ready('text_image_base', function() {
							$('.product-slick').not('.slick-initialized').slick({
								autoplay:true,
								dots: true,
								infinite: true
							});
						})
