.container
	.section-wrapper
		- if component.page.layout.eql?("products")
			%p
				=component.description.to_s.html_safe
		- else
			.row 
				.col-lg-6.col-12
					%h1
						=component.name.to_s.html_safe
					%p
						=component.description.to_s.html_safe
					=link_to component&.url_text || "/", class: "btn bg-yellow" do
						READ MORE
				.col-lg-6.col-12
					- if (images = component.images).present?
						- images.each do |image|
							=image_tag(image.asset.url, width: "100%")

					:javascript

						loadjs(["/assets/frontend/lib/slick.min.js", "/assets/frontend/lib/slick.css", "/assets/frontend/lib/slick-theme.css"], 'text_image_base');
						loadjs.ready('text_image_base', function() {
							$('.product-slick').not('.slick-initialized').slick({
								autoplay:true,
								dots: true,
								infinite: true
							});
						})
