
.banner.container-fluid.p-0
	.d-block
		- if (images = component.images).present?
			- if device.eql?("desktop") && images.size > 1 && component.show_nav == "true"
				.nav-banner-cursor

					%i.fa.fa-square-caret-left.prev-btn.text-light
					%i.fa.fa-square-caret-right.next-btn.text-light
			.owl-carousel.demo.owl-theme
				- images.banners.each do |image|
					%div
						.textoverlay
							.row.align-items-center
								.col-12.thumb
									.text
										%h2.d-block.title.text-center=image.title.to_s.html_safe
										%p=image.note.to_s.html_safe
									.image
										- if (url = image.asset&.url).present?
											- if device.eql?("desktop")
												%img.owl-lazy{:alt => "", "data-src" => image.asset.url(:banner_full), height: "#{component.desktop_height rescue '800'}"}/
											- else
												%img.owl-lazy{:alt => "", "data-src" => image.asset.url(:banner_full), height: "#{component.mobile_height rescue '300'}"}/


:javascript

	$(document).on('turbolinks:load', function() {
		var owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 1,
			dots: "#{component.show_dots rescue nil}" === "true",
			loop: "#{images.size > 1}" === "true",
			nav: false,
			autoplay:true,
			lazyLoad:true,
			touchDrag: false,
			autoplayHoverPause:true,
			autoplayTimeout: 3000,
			smartSpeed: 1000
		});

		$('.next-btn').click(function() {
				owl.trigger('next.owl.carousel');
		})

		$('.prev-btn').click(function() {
				owl.trigger('prev.owl.carousel');
		})

	})
