.container.text-center
  = image_tag("not_found.png", class: "w-80")
  %h1= "Oooppsss..."
  %p= "Link yang anda masukan tidak ada"
  =link_to "Kembali ke Home", "/", class: "btn btn-primary text-white"