// Custom bootstrap variables must be set or imported *before* bootstrap.

@import 'bootstrap';
@import "font-awesome";
@import "frontend/lib/slick.scss";
@import "frontend/lib/slick-theme.scss";
@import "frontend/lib/sweetalert2.min.scss";

@import "frontend/lib/owl.carousel.min.scss";
@import "frontend/lib/owl.theme.default.scss";


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// Internal
@import "components";
// .slider {
//     margin: 0 auto;
// }
// .center{
//   display: table;
// }
// .center img{
//   display: table-cell;
//   margin: auto;
// }
// img {
//     width: 50%;
//     height: auto;
// }

// .slick-prev:before, 
// .slick-next:before {
//     color: black;    
// }

// body {
//   padding: 30px;
// }

.title-header {
	background-color: white;
	color: black !important;
	padding: 1px 6px;
	font-weight: 800;
}

.section-wrapper {
	// // Extra small devices (portrait phones, less than 576px)
	// @media (max-width: 575.98px) { top: 10%; }

	// // Small devices (landscape phones, 576px and up)
	// @media (min-width: 576px) and (max-width: 767.98px) { margin-top: 10%; }

	// // Medium devices (tablets, 768px and up)
	// @media (min-width: 768px) and (max-width: 991.98px) { margin-top: 10%; }

	// Large devices (desktops, 992px and up)
	@media (min-width: 320px) and (max-width: 1199.98px) { margin: 1.5rem 0; }

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { margin: 4rem 0; }
}
.navbar-dark {
	a {
		text-decoration: none;
	}
}
.limit{
	overflow: hidden;
}

.limit img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}

.nav-banner-cursor {

	font-size: 3rem;
	cursor: pointer;

	.prev-btn {
		position: absolute !important;
		left: 5rem;
				// Extra small devices (portrait phones, less than 576px)
		@media (max-width: 575.98px) { top: 10%; }

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) and (max-width: 767.98px) { margin-top: 10%; }

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) and (max-width: 991.98px) { margin-top: 10%; }

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) and (max-width: 1199.98px) { margin-top: 20%; }

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) { margin-top: 20%; }

		z-index:100;
	}
	.next-btn {
		position: absolute !important;
		right: 5rem;
		z-index:100;

				// Extra small devices (portrait phones, less than 576px)
		@media (max-width: 575.98px) { margin-top: 10%; }

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) and (max-width: 767.98px) { margin-top: 10%; }

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) and (max-width: 991.98px) { margin-top: 10%; }

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) and (max-width: 1199.98px) { margin-top: 20%; }

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) { margin-top: 20%; }

	}
}

.owl-carousel .animated { 
	animation-duration: 1000ms;
	animation-fill-mode: both; }

	.owl-theme .owl-controls .owl-page {
		display: inline-block;
	}
	.owl-theme .owl-controls .owl-page span {
		background: none repeat scroll 0 0 #869791;
		border-radius: 20px;
		display: block;
		height: 12px;
		margin: 5px 7px;
		opacity: 0.5;
		width: 12px;
	}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: white;
	-webkit-transition: color 1s;
	-moz-transition:    color 1s;
	-ms-transition:     color 1s;
	-o-transition:      color 1s;
	transition:         color 1s;
	&:link {
		text-decoration: none;
	}
	&:hover {
		color: $primary !important;
		font-weight: bold;
	}
}



/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
		li {
			padding: 0;
			list-style-type: none;
		}
  }
}
@media (min-width: 801px) {
  .flex-container {
    flex-direction: row;
		display: flex;
  }
}

// #loadings {
//   position: fixed;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   opacity: 0.7;
//   background-color: #fff;
//   z-index: 99;
// }

// #loading-image {
//   z-index: 100;
// }

// #loading4 {
//   position: fixed;
//   z-index: 200;
//   top: 0px;
//   left: 0px;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;

//   #spinner {
//     position: fixed;
//     width: 50px;
//     height: 50px;
//     left: 50%;
//     top: 50%;
//     margin-left: -25px;
//     margin-top: -25px;
//     opacity: 0.8;
//     border-radius: 6px;
//     background: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/04de2e31234507.564a1d23645bf.gif") center center no-repeat;
//   }
// }

#loading {  
	position: fixed;  
	opacity: 0.7;
	left: 0px;  
	top: 0px;  
	width: 100%;  
	height: 100%;  
	z-index: 9999;  
	background: image-url('frontend/spinner.gif') 50% 50% no-repeat rgb(249,249,249);  
}  


// .responsive-container {
// 	width: 100%;
// 	padding-bottom: 56.25%; /* 9/16 = aspect ratio of image */
// 	position: relative;
// 	height: 0;
// 	overflow: hidden;
// }

// .responsive-container img {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// }
