%h3.text-center="Products #{products.first&.category&.name}" || "Products"
%hr
- if products.present?
	.row
		- products.each do |product|
			.col-lg-3.col-6
				.card.card-body
					=link_to product_path(product) do
						.product-slick
							- product.attachments.each do |attachment|
								=image_tag(attachment.asset.url, width: "100%")
					%small.my-1.fw-bold.text-center="Rp. #{product.price || '-'}"
					%hr.m-0
					.text-center=product.name

:javascript
	$('.product-slick').not('.slick-initialized').slick({
		autoplay:true,
		dots: true,
		infinite: true
	});