.row
  - @products.each do |product|
    .col-4
      =image_tag(product.attachments.first.asset.url, width: "100%")
      %h5.text-center= product.name
      -# - product.attachments.each do |attachment|
      -#   =image_tag(attachment.asset.url, width: "100%")