
.banner-text
	.section-wrapper
		#banner-slick
			- component.images.each do |image|
				.row.d-flex.align-items-center
					.col-lg-6.col-12.d-none.d-lg-block.d-xl-block.text-left
						%h1=image.title.html_safe
						%p=image.note
					.col-lg-6.col-12
						=image_tag(image.asset.url, class: "w-100", alt: "#{image.title}")
					.col-lg-6.col-12.d-block.d-sm-none.text-center.mt-4
						%h1=image.title.html_safe
						%p=image.note

:javascript
	$("#banner-slick").slick();