%hr.mx-5
.container
  .section-wrapper
    .row
      .col-lg-4.col-12.mb-4
        %h2.fw-bold=@setting.name
        =@setting.description.to_s.html_safe
      .col-lg-4.col-12.mb-4
        %h2.fw-bold="Kontak"
        .col
          %i.fa.fa-envelope.fa-lg
          %span=@setting.email
        .col
          %i.fa.fa-phone.fa-lg
          %span=@setting.phone_1
        .col
          %i.fa.fa-phone.fa-lg
          %span=@setting.phone_2
      .col-lg-4.col-12.mb-4
        %h2.fw-bold="Lokasi"
        %iframe{ :src => "#{@setting.youtube_url}", :class => "w-100"}
