.container
  .row
    .col-4
      %h2.fw-bold="Gadget"
      %br
      =@setting.description.to_s.html_safe
    .col-4
      %h2.fw-bold="Kontak"
      %br
      .col
        %i.fa.fa-envelope.fa-lg
        %span=@setting.email
      .col
        %i.fa.fa-phone.fa-lg
        %span=@setting.phone_1
      .col
        %i.fa.fa-phone.fa-lg
        %span=@setting.phone_2
    .col-4
      %h2.fw-bold="Lokasi"
      %iframe{:height => "315", :src => "#{@setting.youtube_url}", :width => "420"}
