
%nav.navbar.navbar-expand-lg.bg-light.navbar-dark.bg-dark
  .container-fluid
    %a.navbar-brand{:href => "#"} Navbar
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0

        - @pages.each do |page|

          %li.nav-item
            - if page.title == "Home"
              = link_to root_path, class: "nav-link" do
                = page.title
            - else
              = link_to page_path(page), class: "nav-link" do
                = page.title

        -# %li.nav-item
        -#   %a.nav-link{:href => "#"} Link
        -# %li.nav-item.dropdown
        -#   %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
        -#     Dropdown
        -#   %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Action
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Another action
        -#     %li
        -#       %hr.dropdown-divider/
        -#     %li
        -#       %a.dropdown-item{:href => "#"} Something else here
        %li.nav-item
          =link_to "Design", custom_design_page_path, class: "nav-link"
        %li.nav-item
          %a.nav-link.disabled Disabled
      %form.d-flex{:role => "search"}
        %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        %button.btn.btn-outline-success{:type => "submit"} Search